.navbar { 
	margin-bottom:1px;
}

#leftcolumn {
    position: absolute;/* top: 80px; bottom: 0px; left: -250px; width: 250px; background-color: rgb(250, 250, 252); box-shadow: 2px 0 2px #808090; padding: 0;
}
